.mudit {
  text-align: center;

  color: #FFFFFF;
  z-index: 30;


}

.ppText {
  font-size: 14px !important;
}/* custom style sheet */

.carousel-inner > .item > img {
    margin: 0 auto;
}
.inner-item {
    text-align: center;
    img {
    margin: 0 auto;}}